article {
   display: flex;
   gap: 3rem;
}

.size-list, .fleet-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}  

.field {
   display: flex;
}

.column {
   padding: 0;
   margin: 0;
   list-style: none;
}

.cell {
   display: block;
   text-align: center;
   width: 1rem;
   height: 1rem;
   text-transform: uppercase;
   padding: 5px;
   cursor: default;
}

.column:not(:first-child) {
   border-left: 1px solid gray;
}

.cell:not(:first-child) {
   border-top: 1px solid gray;
}

.column:not(:first-child) .cell:not(:first-child):hover {
   background-color: rgb(211, 211, 211);
}

.active {
   background-color: rgb(255, 237, 196);
}